@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap');

html {
    box-sizing: border-box; 
}

body {
    margin: 0; 
    color: whitesmoke; 
}

h1 {
    margin-top: 20px; 
    margin-bottom: 15px; 
    text-align: center;
    font-family: 'Rajdhani', sans-serif; 
    font-size: 44px; 
    letter-spacing: 16px;
    color: rgb(26, 25, 25)
}

.image-container {
    margin: 10px 30%; 
}

.image-container img {
    width: 100%; 
    margin-top: 8px; 
}

 .loader-container {
    display: flex; 
    justify-content: center;
    align-items: center;
}

.loader img {
    position: fixed; 
} 

@media screen and (max-width: 600px) {
    h1 {
        font-size: 22px; 
    }

    .image-container {
        margin: 10px; 
    }
}