@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap');

html {
    box-sizing: border-box; 
}

body {
    margin: 0; 
    color: whitesmoke; 
}

h1 {
    margin-top: 20px; 
    margin-bottom: 15px; 
    text-align: center;
    font-family: 'Rajdhani', sans-serif; 
    font-size: 44px; 
    letter-spacing: 16px;
    color: rgb(26, 25, 25)
}

.search {
    color: rgb(37, 37, 37); 
    display: flex; 
    justify-content: center;
    
}

.image-container {
    margin: 10px 30%; 
}

.image-container img {
    width: 100%; 
    margin-top: 8px; 
}

 .loader {
    position: fixed; 
    top: 0; 
    bottom: 0; 
    left: 0; 
    right: 0; 
    background: rgba(255, 255, 255, 0.8); 
}

.loader img {
    position: fixed; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
} 

@media screen and (max-width: 600px) {
    h1 {
        font-size: 22px; 
    }

    .image-container {
        margin: 10px; 
    }
}